---
layout: page
title: Sinai Library Digitization Project
description: A collaborative project with St. Catherine's Monastery, UCLA Digital Library, and Early Manuscripts Electronic Library
background: '/img/sldp-main.jpg'
---

<p>The Sinai Palimpsests Project is using state-of-the-art spectral imaging to recover erased texts from palimpsest manuscripts in the library of St. Catherine’s Monastery of the Sinai, the world’s oldest continually operating monastery.  The monastery holds an exceptional collection of more than 160 palimpsests, the erased layers of which preserve unstudied texts from the 4th to the 12th century.  An online research library, now in development, will make the palimpsests of Sinai globally accessible for study.</p>


      {{ content }}

      <!-- Home Post List -->
      {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
              <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
              <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
              {{ post.author }}
            {% else %}
              {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }}</p>
        </article>

        <hr>

      {% endfor %}

      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
      </div>

    </div>
  </div>
</div>
